html {
    font-size: 14px;
    font-family: Lato;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-color: #fffaf7;*/
}

.content {
    margin-top: 30px;
}

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff6f2;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.1);
}

.header-left {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header-logo {
    height: 60px;
    width: 60px;
}

.header-title {
    font-size: 50px;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

    .header-title:hover {
        color: #ff8c00; /* Ensure the color doesn't change on hover */
    }

.header-right {
    display: flex;
    align-items: center;
}

    .header-right span {
        margin-right: 10px;
        font-size: 18px;
    }

.btn-login-logout {
    width: 65px;
    text-align: center;
    background-color: #ffd4a1;
    border: 2px solid #ff8c00;
    border-radius: 4px;
    padding: 5px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    text-decoration: none;
    color: inherit;
}

    .btn-login-logout:hover {
        background-color: #e8b16f;
        color: inherit;
    }

footer {
    background-color: #ffd29c;
    color: saddlebrown;
    padding-left: 20px;
}

    footer a {
        text-decoration: none;
        color: #b36025;
    }

        footer a:hover {
            text-decoration: none;
            color: #e07b34;
        }

.input-text {
    background-color: beige;
}

    .input-text::selection {
        background-color: red;
    }

.form-control {
    background-color: #fffaf7;
}

.form-control:focus {
    border-color: #ff8c00;
    box-shadow: 0 0 0 0.2rem #ffd4a1;
}
