@using Armpit.Library.Utils
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Armpit - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebServer.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/css/logo.png" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <div class="header-left">
            <img src="~/css/logo.png" alt="Logo" class="header-logo" />
            <a asp-action="/" class="header-title">Armpit</a>
        </div>
        <div class="header-right">
            @if (!User.Identity.Name.IsNullOrEmpty())
            {
                <span>Logged in as: @User.Identity.Name</span>
                <a href="/Account/Logout" class="btn-login-logout">Logout</a>
            }
            else
            {
                <a href="/Account/Login" class="btn-login-logout">Login</a>
            }

        </div>
    </header>
    <div class="content">
        @RenderBody()
    </div>

    <footer class="border-top footer">
        &copy; 2024 - <a class="footer-link" href="https://github.com/krzysztofpe1/Armpit">Armpit Open Source Project</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>