@page "/Monitor"
@model WebServer.Pages.MonitorModel
@{
    ViewData["Title"] = "Monitor";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Monitor.css" asp-append-version="true" />
}

<div class="monitor-container">

    <div class="left-section section-container">

        <div class="section section-item">
            <h1>CPU</h1>
            <div id="cpuGraph"></div>
        </div>

        <div class="section section-item">
            <h1>MEMORY</h1>
            <canvas id="memoryUsageChart" width="200" height="100"></canvas>
        </div>

        <div class="section section-item">
            <h1>STORAGE</h1>
            <div id="storageDiv"></div>
        </div>

    </div>

    <div class="right-section section-container">
        <div class="section-item">
            <h1>CPU</h1>
            <div id="cpuGraph"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/Monitor.js"></script>
}